body{
      margin: 0;
      height: 100vh;
      display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
      background-image: radial-gradient(white, white);
      /*background-image: url(retro-seamless-pattern-in-the-style-of-the-70s-and-60s-vector.jpg);*/
      background-size: 100%;
      /*background-repeat: repeat;*/
    }

    .background-overlay {
      position: absolute;
      margin-top: 1vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 750px;
      /*width: 65vw; /* Adjust as needed */
      opacity: 1.00; /* Controls transparency */
      pointer-events: none; /* Clicks pass through the image */
      z-index: -1;
    }

    h1 {
      font-size: 5rem;
      margin-bottom: 20px;
      margin-top: 5px;
      text-align: center;
      font-family: Faster One, sans-serif;
      color: black;
    }

    .a {
      display: block; /* pravi go kato block?? */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      /*width: 23vw; /* Adjust size as needed */
      /*height: 18vw;*/
      width: 100%;
      min-width: 50px;
      max-width: 350px;
      aspect-ratio: 1147/884;
      object-fit: cover;
      border-radius: 12px;
      margin-top: 1.75vw;
      /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      /*box-shadow:  -2px -2px 0 #d2d4d2, 2px 2px 0 #29381c;*/
      box-shadow: rgba(50, 50, 93, 0.25) 
      0px 50px 100px -20px, 
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      
    }


    .vintage-bar {
      margin: 10px auto 0 auto; /* top 30px, bottom 0, centered */
      min-width: 100px;
      max-width: 400px;
      text-align: top center;
      color: white;
      width: 300px;
      height: 30px;
      background-color: #000000;
      border: 2px solid #909190;
      border-radius: 8px;
      box-shadow: inset -2px -2px 0 #d2d4d2, inset 2px 2px 0 #29381c;
      padding: 4px;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50px);
      margin-top: -20px;
      /*overflow: hidden;*/
      z-index: 5;
    }

    .vintage-fill {
      height: 100%;
      background: repeating-linear-gradient(
        90deg,
        #394d27 0 10px,
        #1f1d1d 6px 15px
      );
      border-top-left-radius: 5px;
      animation: drain 10s linear forwards;
      /*border-bottom-left-radius: 6px;*/
      /*animation: blink-fill 1.5s steps(2, start) infinite;*/
    }

    .text{
      position: absolute;
      text-align: center;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .container {
      display: grid;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: 200px;
      transform: translate(-50%, -50%);
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 10px;
      /*z-index: 5;*/
      font-size: 20px;
      text-align: center;
    }

    /* swapped positions */
    .pos-1 { grid-column: 1; grid-row: 1; }
    .pos-2 { grid-column: 2; grid-row: 2; }
    .pos-3 { grid-column: 4; grid-row: 2; }
    .pos-4 { grid-column: 5; grid-row: 1; }

    button {
      all: unset;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      /*position: absolute;*/
      /*transform: translate(-50%, -50%);*/
      margin-top: 10px;
      margin-left: 15px;
      margin-right: 15px;
      border-radius: 100em;
      background-color: rgba(0, 0, 0, 0.75);
      box-shadow: -0.15em -0.15em 0.15em -0.15em rgba(5, 5, 5, 0.25),
          0.0375em 0.0375em 0.0375em 0 rgba(5, 5, 5, 0.1);

    }
    button::after {
        content: "";
        position: relative;
        z-index: 0;
        width: calc(50% + 0.3em);
        height: calc(50% + 0.3em);
        top: -0.15em;
        left: -0.15em;
        border-radius: inherit;
        background: linear-gradient(-135deg,
                rgba(5, 5, 5, 0.5),
                transparent 20%,
                transparent 100%);
        filter: blur(0.0125em);
        opacity: 0.25;
        mix-blend-mode: multiply;
    }
    .button:hover .button-outer {
      box-shadow:
        0 0 0 0 rgba(5, 5, 5, 1),
        0 0 0 0 rgba(5, 5, 5, 0.5),
        0 0 0 0 rgba(5, 5, 5, 0.25);
    }

    button .button-outer {
        position: relative;
        z-index: 1;
        border-radius: inherit;
        transition: box-shadow 300ms ease;
        will-change: box-shadow;
        box-shadow: 0 0.05em 0.05em -0.01em rgba(5, 5, 5, 1),
            0 0.01em 0.01em -0.01em rgba(5, 5, 5, 0.5),
            0.15em 0.3em 0.1em -0.01em rgba(5, 5, 5, 0.25);
    }

    .button-inner {
    
        --inset: 0.035em;
        position: relative;
        z-index: 1;
        border-radius: inherit;
        padding: 1.5em 1.5em;
        background-image: linear-gradient(135deg,
                rgba(230, 230, 230, 1),
                rgba(180, 180, 180, 1));
        transition: box-shadow 300ms ease, clip-path 250ms ease,
            background-image 250ms ease, transform 250ms ease;
        will-change: box-shadow, clip-path, background-image, transform;
        overflow: clip;
        clip-path: inset(0 0 0 0 round 999vw);
        box-shadow:
            /* 1 */
            0 0 0 0 inset rgba(5, 5, 5, 0.1),
            /* 2 */
            -0.05em -0.05em 0.05em 0 inset rgba(5, 5, 5, 0.25),
            /* 3 */
            0 0 0 0 inset rgba(5, 5, 5, 0.1),
            /* 4 */
            0 0 0.05em 0.2em inset rgba(255, 255, 255, 0.25),
            /* 5 */
            0.025em 0.05em 0.1em 0 inset rgba(255, 255, 255, 1),
            /* 6 */
            0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
            /* 7 */
            -0.075em -0.25em 0.25em 0.1em inset rgba(5, 5, 5, 0.25);
    }
    button:hover .button-inner {
        clip-path: inset(clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) round 999vw);
        box-shadow:
            /* 1 */
            0.1em 0.15em 0.05em 0 inset rgba(5, 5, 5, 0.75),
            /* 2 */
            -0.025em -0.03em 0.05em 0.025em inset rgba(5, 5, 5, 0.5),
            /* 3 */
            0.25em 0.25em 0.2em 0 inset rgba(5, 5, 5, 0.5),
            /* 4 */
            0 0 0.05em 0.5em inset rgba(255, 255, 255, 0.15),
            /* 5 */
            0 0 0 0 inset rgba(255, 255, 255, 1),
            /* 6 */
            0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
            /* 7 */
            -0.075em -0.12em 0.2em 0.1em inset rgba(5, 5, 5, 0.25);
    }
    button .button-inner span {
      width: 30px;
      height: 30px;
        position: relative;
        z-index: 4;
        font-family: "Comic Sans MS", sans-serif;
        letter-spacing: -0.05em;
        font-weight: 500;
        color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(135deg,
                rgba(25, 25, 25, 1),
                rgba(75, 75, 75, 1));
        /*-webkit-background-clip: text;*/
        background-clip: text;
        transition: transform 250ms ease;
        display: block;
        will-change: transform;
        text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
        -webkit-user-select: none; 
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    button:hover .button-inner span {
        transform: scale(0.975);
    }

    button:active .button-inner {
        transform: scale(0.975);
    }

    @media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  .container {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    gap: 10px;
  }

  .vintage-bar {
    width: 80vw;
    height: 25px;
    font-size: 0.8rem;
  }

  .a {
    width: 80vw;
    height: auto;
  }

  .mouse-button {
    transform: scale(0.8);
  }

  .bubble {
    width: 80vw;
    font-size: 1rem;
    line-height: normal;
  }
}