.bubble {
    position: absolute;
    left: 60%;
    background: #000000;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    line-height: 120px;
    box-shadow: 5px 5px 2px 0px #A3A3A3;
    text-align: center;
    width: 250px;
    height: 120px;
    border-radius: 10px;
    padding: 0px;
    display: none;
    z-index: 999;

}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #000000 transparent transparent transparent;
    bottom: -20px;
    left: 30%;
    margin-left: -10px;
}
.bubble.show {
  display: block;
}


