/* From Uiverse.io by marcelodolza */ 
.mouse-button {
  --white: #ffe7ff;
  --bg: #080808;
  --radius: 100px;
  outline: none;
  cursor: grab;
  border: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  /*transform: translate(-50%, -50%); /* <-- THIS centers it perfectly */

  margin-top:0; /* 8em;/*125px; /* you can adjust this for vertical offset */
  margin-left: -45px;
  border-radius: var(--radius);
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  background-color: var(--bg);
  transition: all 0.2s ease;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}

.mouse-button .wrap {
  font-size: 15px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  padding: 32px 45px;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
}
.mouse-button .wrap p span:nth-child(2) {
  display: none;
}
.mouse-button:hover .wrap p span:nth-child(1) {
  display: none;
}
.mouse-button:hover .wrap p span:nth-child(2) {
  display: inline-block;
}
.mouse-button .wrap p {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  transition: all 0.2s ease;
  transform: translateY(2%);
  mask-image: linear-gradient(to bottom, white 40%, transparent);
}
.mouse-button .wrap::before,
.mouse-button .wrap::after {
  content: "";
  position: relative; /* change to absolute to put shiny effect on the button again*/
  transition: all 0.3s ease;
}
.mouse-button .wrap::before {
  left: -15%;
  right: -15%;
  bottom: 25%;
  top: -100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.12);
}
.mouse-button .wrap::after {
  left: 6%;
  right: 6%;
  top: 12%;
  bottom: 40%;
  border-radius: 22px 22px 0 0;
  box-shadow: inset 0 10px 8px -10px rgba(255, 255, 255, 0.8);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.mouse-button:hover {
  box-shadow:
    inset 0 0.3rem 0.5rem rgba(255, 255, 255, 0.4),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.7),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}
.mouse-button:hover .wrap::before {
  transform: translateY(-5%);
}
.mouse-button:hover .wrap::after {
  opacity: 0.4;
  transform: translateY(5%);
}
.mouse-button:hover .wrap p {
  transform: translateY(-4%);
}
.mouse-button:active {
  transform: translateY(4px);
  box-shadow:
    inset 0 0.3rem 0.5rem rgba(255, 255, 255, 0.5),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.8),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.4),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}

@media (max-width: 600px) {
  .mouse-button{
    scale: 0.5;
    margin-top: -0.9em;
  }
}